.title{
    &_big{
        font-size: $mob-fz-tit-big;
    }
    &_medium{
        font-size: $mob-fz-tit-medium;
    }
    &_small{
        font-size: $mob-fz-tit-small;
    }
    &_mini{
        font-size: $mob-fz-tit-mini;
    }
}