//title
$fz-tit-big: 64px;
$fz-tit-medium: 48px;
$fz-tit-small: 30px;
$fz-tit-mini: 24px;

//мобильные
$mob-fz-tit-big: 30px;
$mob-fz-tit-medium: 24px;
$mob-fz-tit-small: 20px;
$mob-fz-tit-mini: 16px;
//title

//text
$color-info: orange; // некоторый выделяющийся текст
$color-prompt:gray; //серый еле видный текст
//text